layout {
    pane size=1 borderless=true {
        plugin location="compact-bar" {
            format_left  "{tabs}"
            format_center ""
            format_right "{mode}"
            format_space "#[bg=#2e3440]"

            mode_normal  "#[fg=#88c0d0,bg=#2e3440]#[fg=#2e3440,bg=#88c0d0,bold] NORMAL #[fg=#88c0d0,bg=#2e3440]"
            mode_locked  "#[fg=#bf616a,bg=#2e3440]#[fg=#2e3440,bg=#bf616a,bold] LOCKED #[fg=#bf616a,bg=#2e3440]"
            mode_pane    "#[fg=#81a1c1,bg=#2e3440]#[fg=#2e3440,bg=#81a1c1,bold] PANE #[fg=#81a1c1,bg=#2e3440]"
            mode_tab     "#[fg=#5e81ac,bg=#2e3440]#[fg=#2e3440,bg=#5e81ac,bold] TAB #[fg=#5e81ac,bg=#2e3440]"
            mode_resize  "#[fg=#8fbcbb,bg=#2e3440]#[fg=#2e3440,bg=#8fbcbb,bold] RESIZE #[fg=#8fbcbb,bg=#2e3440]"
            mode_move    "#[fg=#b48ead,bg=#2e3440]#[fg=#2e3440,bg=#b48ead,bold] MOVE #[fg=#b48ead,bg=#2e3440]"
            mode_scroll  "#[fg=#d08770,bg=#2e3440]#[fg=#2e3440,bg=#d08770,bold] SCROLL #[fg=#d08770,bg=#2e3440]"
            mode_session "#[fg=#88c0d0,bg=#2e3440]#[fg=#2e3440,bg=#88c0d0,bold] SESSION #[fg=#88c0d0,bg=#2e3440]"
            mode_search  "#[fg=#bf616a,bg=#2e3440]#[fg=#2e3440,bg=#bf616a,bold] SEARCH #[fg=#bf616a,bg=#2e3440]"
            mode_tmux    "#[fg=#b48ead,bg=#2e3440]#[fg=#2e3440,bg=#b48ead,bold] TMUX #[fg=#b48ead,bg=#2e3440]"

            tab_normal   "#[fg=#2e3440,bg=#3b4252]#[fg=#d8dee9,bg=#3b4252] {name}{fullscreen_indicator} #[fg=#3b4252,bg=#2e3440]"
            tab_active   "#[fg=#2e3440,bg=#88c0d0,bold]#[fg=#2e3440,bg=#88c0d0,bold] {name}{fullscreen_indicator} #[fg=#88c0d0,bg=#2e3440]"

            tab_fullscreen_indicator " ⛶"
        }
    }
    pane
}
